{% extends 'base.html.twig' %}

{% block title %}liste des films les cocos
{% endblock %}

{% block body %}
    <h1 class="text-center mb-4" >Liste des films</h1>
<div class="row">

    {% for movie in movies %}
    <div class="col-4"> 
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header text-center">
                    <h3>{{ movie.title }}</h3>
                     <small style="color:green;font-size: 15px;">
                     {{ movie.releasedAt | date('Y') }}</small>


                </div>

                <img src="{{ movie.poster }}" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">Réalisé par :
                        <p style="color:green;">

                            {{ movie.director.firstName }}
                            {{ movie.director.lastName }}
                        </p>

                    </h4>

                    <p class="card-text">
                        {{ movie.synopsis}}
                    </p>
                    <p class="text-center">
                        <a class="btn btn-success"href="{{ path('movie', {'slug': movie.slug} ) }}">Aller voir ..</a>
                    </p>

                </div>
            </div>
        </div>

    {% endfor %}
</div>


{% endblock %}

